.cardComponent{
    transition: all 3s ease-in-out;
    transition-property: transform;
}

.addCartLink{
    display: none;
}

@media screen and (max-width: 768px){
    .addCartLink{
        display: flex;
    }
}

.cardComponent:hover{
    height: 445px;
}

.cardComponent:hover .addCartLink{
    display: flex;
}